<main>
  <section class="section section-shaped section-lg">
    <div class="shape shape-style-1 bg-gradient-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container pt-lg-md">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="card bg-secondary shadow border-0">
            <div class="card-header bg-white pb-5">
              <div class="text-muted text-center mb-3">
                <small>Sign up with</small>
              </div>
              <div class="text-center">
                <a href="javascript:void(0)" class="btn btn-neutral btn-icon">
                  <span class="btn-inner--icon">
                    <img src="./assets/img/icons/common/google.svg">
                  </span>
                  <span class="btn-inner--text">Google</span>
                </a>
              </div>
            </div>
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                <small>Or sign up with credentials</small>
              </div>
              <div *ngIf="passwordError">
                <div *ngFor="let alert of alerts">
                  <ngb-alert [type]="alert.type" [dismissible]="true" (close)="close(alert)">
                    <ng-container *ngIf="alert.icon">
                      <div class="alert-inner--icon">
                        <i class="{{alert.icon}}"></i>
                      </div>
                    </ng-container>
                    <span class="alert-inner--text"> <strong>{{alert.strong}} </strong>{{ alert.message }}</span>
                  </ngb-alert>
                </div>
              </div>
              <form role="form" [formGroup]="regForm" (ngSubmit)="onFormSubmit()">
                <div class="form-group" [ngClass]="{'focused':focus===true}">
                  <div class="input-group input-group-alternative mb-3" [formGroup]="regForm">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-user-circle" aria-hidden="true"></i></span>
                    </div>
                    <input class="form-control" placeholder="Name" type="text" id="name" name="name"
                      (focus)="focus=true" (blur)="focus=false" formControlName="name">

                  </div>
                  <div
                    *ngIf="regForm.get('name')?.invalid && (regForm.get('name')?.dirty || regForm.get('name')?.touched)"
                    class="alert alert-danger">
                    <div *ngIf="regForm.get('name')?.errors?.required">
                      Name is required.
                    </div>
                    <div *ngIf="regForm.get('name')?.errors?.minlength">
                      Name must be at least 2 characters long.
                    </div>
                  </div>
                </div>
                <div class="form-group" [ngClass]="{'focused':focus===true}">
                  <div class="input-group input-group-alternative mb-3" [formGroup]="regForm">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-mobile" aria-hidden="true"></i></span>
                    </div>
                    <input class="form-control" placeholder="Phone Number" name="phoneNumber" id="phoneNumber"
                      type="text" (focus)="focus=true" (blur)="focus=false" formControlName="phoneNumber">
                  </div>
                  <div
                    *ngIf="regForm.get('phoneNumber')?.invalid && (regForm.get('phoneNumber')?.dirty || regForm.get('phoneNumber')?.touched)"
                    class="alert alert-danger">
                    <div *ngIf="regForm.get('phoneNumber')?.errors?.required">
                      Phone Number is required.
                    </div>
                    <div *ngIf="regForm.get('phoneNumber')?.errors?.pattern">
                      Phone Number is invalid.
                    </div>
                  </div>
                </div>
                <div class="form-group" [ngClass]="{'focused':focus1===true}">
                  <div class="input-group input-group-alternative mb-3" [formGroup]="regForm">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-address-card" aria-hidden="true"></i></span>
                    </div>
                    <input class="form-control" placeholder="Email" type="email" name="email" id="email"
                      (focus)="focus1=true" (blur)="focus1=false" formControlName="email">
                  </div>
                  <div
                    *ngIf="regForm.get('email')?.invalid && (regForm.get('email')?.dirty || regForm.get('email')?.touched)"
                    class="alert alert-danger">
                    <div *ngIf="regForm.get('email')?.errors?.required">
                      Email is required.
                    </div>
                    <div *ngIf="regForm.get('email')?.errors?.pattern">
                      Email is invalid.
                    </div>
                  </div>
                  <div class="col-sm-9">
                    <p *ngIf="regForm.errors" class="text-danger mb-0">Email is required.</p>
                  </div>
                </div>
                <div class="form-group" [ngClass]="{'focused':focus2===true}">
                  <div class="input-group input-group-alternative" [formGroup]="regForm">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-key" aria-hidden="true"></i></span>
                    </div>
                    <input class="form-control" placeholder="Password" type="password" name="password" id="password"
                      (focus)="focus2=true" (blur)="focus2=false" (keyup)="onPasswordChange($event)"
                      formControlName="password">
                  </div>
                  <div
                    *ngIf="regForm.get('password')?.invalid && (regForm.get('password')?.dirty || regForm.get('password')?.touched)"
                    class="alert alert-danger">
                    <div *ngIf="regForm.get('password')?.errors?.required">
                      Password is required.
                    </div>
                  </div>
                </div>
                <div class="text-muted font-italic">
                  <small>password strength:
                    <span *ngIf="weak" class="text-danger font-weight-700">weak</span>
                    <span *ngIf="normal" class="text-info  font-weight-700">normal</span>
                    <span *ngIf="strong" class="text-success font-weight-700">strong</span>
                  </small>
                </div>
                <div class="row my-4">
                  <div class="col-12">
                    <div class="custom-control custom-control-alternative custom-checkbox">
                      <input class="custom-control-input" id="customCheckRegister" type="checkbox">
                      <label class="custom-control-label" for="customCheckRegister">
                        <span>I agree with the
                          <a href="javascript:void(0)">Privacy Policy</a>
                        </span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary mt-4">Create account</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>