<app-navbar></app-navbar>
<section class="section section-lg section-nucleo-icons pb-250">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="display-3">Lost&Found</h2>
                <p class="lead">
                    Sample automated app aims to help the community if you lose your wallet.
                    And another hero found it and entered the full name of the person on national card id or any unique
                    information about your wallet that can enhance the chance to get back what you lost.
                    The app will match and notify you with the information to connect with the hero.
                    Also, If the lost item has a picture and the same thing in the picture is found in our collection
                    will match the images and return back to you with information to connect with the hero!!.
                </p>
                <div class="btn-wrapper">
                    <a [routerLink]="['/lost']" class="btn btn-primary">Lost your item!!</a>
                    <a [routerLink]="['/found']" class="btn btn-default mt-3 mt-md-0">
                        Found Item!!</a>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>